.back {
    /*background-color: #1e5f08;*/

}



.userinfo {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 200px;
    background-color: #ded9d9;
}

.userList {
    height: 380px;
    background-color: white;
    border-radius: 10px;
    margin-top: -3px;
    margin-bottom: 0px;
}

.row-css {
    margin-top: 10px;
}


.userImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 3;
}

.user-name {
    background-color: #ded9d9;
    width: 100px;
    height: 100px;
    margin-left:-26px ;
}

.dianpu {
    width: 259px;
    margin-top: 10px;
    margin-left: 37px;
    background-color: white;
    border-radius: 10px;
    padding-top: 5px;;
}

.dianpu p {
    width: 48px;
    font-size: 8px;

}

.dianpu span {
    font-size: 23px;
    font-weight: 100
}

.dianpu button {
    border: solid 0 white;
    background-color: white;
}

.other {
    margin-left: 40px;

}

.userList {

}

.m-list {
    margin-top: 20px;
}

.list-group-item {
    align-content: center;
}

.list-group-item:hover {
    background-color: #ded9d9;
}
