
.total {
    /*overflow: auto;*/
}

.head {
    height: 40px;
    margin-top: 20px;
}

.list {
    padding-top: 5px;
    padding-bottom: 5px;
}

.context {
    /*width: 600px;*/
}

.over {
    height: 530px;
    background-color: #ded9d9;
    overflow: auto;
}

.main-cart {
    height: 600px;
}

#main-user {
    height: 611px;
    padding-left: 0;
    padding-right: 0;
    background-color: #ded9d9;
}


.main-list {
    overflow: auto;
}
